@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9;
}

/* Code textarea font */
textarea.code-area {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 1.6;
}
